<div class="container">
    <div class="article clearfix">
    <h2>Genetically modified food</h2>
        <figure>
            <img src="./img/grapes.jpg" alt="image">
        </figure>
        <p>Genetically engineered organisms are generated and tested in the laboratory for desired qualities. The most common modification is to add one or more genes to an organism's genome. Less commonly, genes are removed or their expression is increased or silenced or the number of copies of a gene is increased or decreased.</p>
<p>Once satisfactory strains are produced, the producer applies for regulatory approval to field-test them, called a "field release." Field-testing involves cultivating the plants on farm fields or growing animals in a controlled environment. If these field tests are successful, the producer applies for regulatory approval to grow and market the crop. Once approved, specimens (seeds, cuttings, breeding pairs, etc.) are cultivated and sold to farmers. The farmers cultivate and market the new strain. In some cases, the approval covers marketing but not cultivation.</p>
<p>According to the USDA, the number of field releases for genetically engineered organisms has grown from four in 1985 to an average of about 800 per year. Cumulatively, more than 17,000 releases had been approved through September 2013
        </p>
        <p><em>*Fernandez-Cornejo J, Wechsler S, Livingston M, Mitchell L</em></p>
    </div>
    <div class="article lg-two-col">
        <h2>Understanding</h2>
        <p>
            GMO crops, when first introduced, were touted as the answer to world hunger. The argument was that by developing pesticide and herbicide resistant crops, farmer's would be able to increase their yields and decrease their costs. This has not proven to be the case. Instead, bugs and weeds have become increasingly resistant to the widespread applications of these chemicals, leading to increased use of both. More spraying means more costs for the farmers, more damage to the environment and more health concerns.
        </p>
        <p><em>*David Suzuki Foundation</em></p>
    </div>
    <div class="article lg-two-col">
        <h2>Definition</h2>
        
        <p>Genetically modified foods, GM foods or genetically engineered foods, are foods produced from organisms that have had changes introduced into their DNA using the methods of genetic engineering as opposed to traditional cross breeding. In the U.S., the Department of Agriculture (USDA) and the Food and Drug Administration (FDA) favor the use of "genetic engineering" over "genetic modification" as the more precise term; the USDA defines genetic modification to include "genetic engineering or other more traditional methods."</p>

   <p><em>*World Health Organization</em></p>
    </div>